footer {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 6.4rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60.8rem;
    width: 100%;
    max-width: 121.6rem;
    height: 0.2rem;
    background: url("../img/line-footer.svg") no-repeat center center;
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left-container {
      flex: 1;
      display: flex;
      align-items: flex-start;
      max-width: 83rem;
      strong {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 150%;
        color: var(--white);
      }
      p {
        margin-left: 8.4rem;
        flex: 1;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        margin-right: 7.2rem;
        span {
          color: var(--white);
          font-size: 1.6rem;
          margin-right: 1.6rem;
        }
      }
      button {
        width: 3.7rem;
        height: 3.7rem;
        border: 0.2rem solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter 0.3s ease;
        &:hover {
          filter: brightness(0.5);
        }
      }
    }
  }
  @media (max-width: 1150px) {
    &:before {
      left: 0;
      margin-left: 0;
      background-size: cover;
    }
    padding: 6rem 0;
  }
  @media (max-width: 991px) {
    .container {
      .left-container {
        p {
          max-width: 70%;
          margin-left: 3rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .left-container {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        p {
          max-width: 90%;
          text-align: center;
          margin-left: 0;
          margin-top: 2rem;
        }
      }
      .right-container {
        .logo {
          margin-right: 4rem;
        }
      }
    }
  }
  @media (max-width: 560px) {
    padding: 4rem 0;
    .container {
      .left-container {
        strong {
          font-size: 1.8rem;
        }
        p {
          max-width: 100%;
          font-size: 1.6rem;
        }
      }
    }
  }
}
