.s-detalhes-post {
  position: relative;
  background-color: var(--white);
  padding-top: 4.8rem;
  padding-bottom: 12rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #050110;
    width: 100%;
    height: 34.8rem;
    z-index: 0;
  }
  .container {
    .top-details {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .breadcrumbs {
        display: flex;
        align-items: center;
        li {
          position: relative;
          &:not(:last-child) {
            &:after {
              content: "";
              position: absolute;
              top: 0.5rem;
              right: -2.5rem;
              width: 1rem;
              height: 1rem;
              background: url("../img/arrow-breadcrumb.svg") no-repeat center
                center;
            }
          }
          &:not(:first-child) {
            margin-left: 4rem;
          }
          a {
            display: block;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 105%;
            color: var(--gray-05);
            transition: color 0.3s ease;
            &:hover {
              color: var(--white);
            }
          }
          span {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 105%;
            color: var(--white);
          }
        }
      }
      .btn {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 100%;
        color: var(--white);
        transition: filter 0.3s ease;
        &:hover {
          filter: brightness(0.5);
        }
        img {
          margin-right: 1.6rem;
        }
      }
    }
    .featured-info-post {
      position: relative;
      z-index: 1;
      margin-top: 4.8rem;
      margin-bottom: 8rem;
      .image {
        width: 100%;
        height: 47.2rem;
        border-radius: 1.2rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box-info-post {
        position: relative;
        width: 100%;
        max-width: 100.8rem;
        background-color: var(--white);
        box-shadow: 0rem 2.4rem 4rem -0.8rem rgba(16, 12, 28, 0.06);
        border-radius: 1.2rem;
        padding: 4.8rem 7.2rem;
        margin: 0 auto;
        margin-top: -10.4rem;
        z-index: 2;
        h1 {
          margin-top: 2rem;
          margin-bottom: 2.8rem;
          color: var(--gray-01);
        }
        ul {
          display: flex;
          align-items: center;
          li {
            display: flex;
            align-items: center;
            &:not(:first-child) {
              margin-left: 2.4rem;
              &:before {
                content: "";
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 0.4rem;
                background-color: var(--gray-05);
                opacity: 0.3;
                display: inline-block;
                margin-right: 2.2rem;
              }
            }
            span {
              font-weight: 600;
              font-size: 1.4rem;
              line-height: 150%;
              color: var(--gray-04);
              margin-left: 0.8rem;
            }
          }
        }
      }
    }
    .info-post-geral {
      display: flex;
      align-items: flex-start;
      .left-content {
        position: sticky;
        top: 9.6rem;
        flex: 1;
        max-width: 23.6rem;
        h6 {
          color: var(--gray-01);
          margin-bottom: 4rem;
        }
        ul {
          position: relative;
          padding-bottom: 4rem;
          margin-bottom: 4rem;
          &:after {
            content: "";
            width: 100%;
            height: 0.2rem;
            background: url("../img/line-topics.svg") no-repeat center center;
            position: absolute;
            bottom: -0.1rem;
            left: 0;
          }
          li {
            &:not(:last-child) {
              margin-bottom: 1.6rem;
            }
            a {
              display: flex;
              align-items: flex-start;
              transition: all 0.3s ease;
              &.active,
              &:hover {
                &:before {
                  background-color: var(--pink);
                }
                span {
                  color: var(--gray-01);
                }
              }
              &:before {
                content: "";
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 0.4rem;
                display: inline-block;
                background-color: var(--gray-05);
                margin-top: 1rem;
                margin-right: 1.6rem;
              }
              span {
                flex: 1;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 150%;
                color: var(--gray-04);
              }
            }
          }
        }
        button {
          display: flex;
          align-items: center;
          &:hover {
            span {
              color: var(--pink);
            }
          }
          span {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 100%;
            color: var(--gray-01);
            margin-left: 1.6rem;
            transition: color 0.3s ease;
          }
        }
      }
      .right-content {
        flex: 1;
        max-width: 80rem;
        margin-left: 7.6rem;
        .content-post {
          width: 100%;
          border-bottom: 0.2rem solid rgba(28, 22, 46, 0.1);
          margin-bottom: 4rem;
          blockquote {
            border-left: 0.2rem solid rgba(92, 31, 166, 0.15);
            padding-left: 2.4rem;
            margin-bottom: 4rem;
            p {
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 175%;
              color: var(--gray-03);
              margin-bottom: 0;
            }
          }
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            color: var(--gray-01);
            margin-bottom: 2.4rem;
          }
          p {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 175%;
            color: var(--gray-03);
            margin-bottom: 4rem;
            a {
              text-decoration: underline;
              transition: filter 0.3s ease;
              &:hover {
                filter: brightness(0.5);
              }
            }
          }
          ul {
            padding-left: 1.6rem;
            margin-top: -2.4rem;
            margin-bottom: 4rem;
            li {
              list-style-type: disc;
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 175%;
              color: var(--gray-03);
              &:not(:last-child) {
                margin-bottom: 1.6rem;
              }
            }
          }
        }
        .share {
          display: flex;
          align-items: center;
          justify-content: space-between;
          strong {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 100%;
            color: var(--gray-01);
          }
          ul {
            display: flex;
            align-items: center;
            li {
              &:not(:first-child) {
                margin-left: 3.2rem;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .container {
      .info-post-geral {
        .left-content {
          display: none;
        }
        .right-content {
          max-width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .container {
      .featured-info-post {
        .box-info-post {
          max-width: 85rem;
          padding: 4rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      .featured-info-post {
        .box-info-post {
          max-width: 65rem;
        }
      }
    }
  }
  @media (max-width: 560px) {
    .container {
      .top-details {
        flex-direction: column;
        align-items: flex-start;
        .breadcrumbs {
          flex-wrap: wrap;
          margin-bottom: 4rem;
          li {
            &:last-child {
              margin-left: 0 !important;
              width: 100%;
              margin-top: 1.5rem;
              span {
                font-size: 1.8rem;
                line-height: 160%;
              }
            }
          }
        }
      }
      .featured-info-post {
        margin-top: 4rem;
        margin-bottom: 0;
        .image {
          height: 25rem;
        }
        .box-info-post {
          max-width: 90%;
          padding: 2.4rem;
          margin-top: -5.6rem;
          h1 {
            font-size: 2.2rem;
            margin: 1.6rem 0;
          }
          ul {
            flex-direction: column;
            align-items: flex-start;
            li {
              &:not(:first-child) {
                margin-left: 0;
                margin-top: 1.6rem;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .info-post-geral {
        margin-top: 4.2rem;
        .right-content {
          .content-post {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            blockquote {
              padding-left: 1.6rem;
              margin-bottom: 2rem;
              p {
                font-size: 1.6rem;
              }
            }
            h2 {
              font-size: 2.4rem;
              margin-bottom: 1.6rem;
            }
            p {
              font-size: 1.6rem;
              margin-bottom: 1.6rem;
              a {
                font-size: 1.6rem;
              }
            }
            ul {
              margin-top: 0;
              margin-bottom: 1.6rem;
              li {
                font-size: 1.6rem;
                &:not(:last-child) {
                  margin-bottom: 1.6rem;
                }
              }
            }
          }
          .share {
            flex-direction: column;
            align-items: flex-start;
            strong {
              display: block;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

.s-post-semelhantes {
  padding: 12rem 0;
  .container {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4rem;
      p {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: var(--gray-05);
        img {
          margin-left: 1.6rem;
        }
      }
    }
    .all {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3.2rem;
    }
  }
  @media (max-width: 768px) {
    .container {
      .all {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media (max-width: 560px) {
    .container {
      .top {
        flex-direction: column;
        h2 {
          margin-bottom: 2rem;
        }
      }
      .all {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
