:root {
  // Brand Colors
  --pink: #f67acb;
  --purple: #5b1fa6;

  // Gray Scale
  --gray-01: #050110;
  --gray-02: #0f0c1b;
  --gray-03: #3f3d49;
  --gray-04: #57555f;
  --gray-05: #9995a6;
  --gray-06: #acb4bf;

  // Neutral
  --white: #ffffff;
  --black: #000000;
}
